body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
ul{
    list-style: none;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0%;
    
}

.image{
    width: calc(33.33% - 20px); 
    margin-bottom: 30px; 
    padding: 10px; 
   
  
}   