body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.image-grid {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next row if needed */
    justify-content: space-between; /* Align items with space between them */
    padding: 10px; /* Add padding to the container */
}

/* Define width for each image */
.image-grid img {
    width: calc(33.33% - 20px); /* Ensure each image takes up 1/3 of the container width with some spacing */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add spacing between images */
}